@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    UNIVERSIDAD DE CUNDINAMARCA<br />
    Facatativá, Cundinamarca <br />
    Creado por:<br />
    Laura Alejandra Babativa Rojas
    <abbr title="Phone">TEL: +57 3046002291</abbr><br />
    Ana Sofía Lopera Riveros
    <abbr title="Phone">TEL: +57 3505182806</abbr><br />
    Frank Sebastián Naranjo Castillo
    <abbr title="Phone">TEL: +57 3212727250</abbr><br />
    Johann Nicolás Nieto Cárdenas
    <abbr title="Phone">TEL: +57 3105786972</abbr><br />
    Laura Tatiana Ramos Villanueva
    <abbr title="Phone">TEL: +57 3115836966</abbr><br />        
</address>

<address>
    <strong>Master Scrum:</strong>   <a href="mailto:aslopera@ucundinamarca.edu.co">aslopera@ucundinamarca.edu.co</a><br />
    <strong>Diseño:</strong> <a href="mailto:fnarano@ucundinamarca.edu.co">fnarano@ucundinamarca.edu.co</a><br />
    <strong>Diseño:</strong> <a href="mailto:lababativa@ucundinamarca.edu.co">lababativa@ucundinamarca.edu.co</a><br />
    <strong>Programación:</strong> <a href="mailto:ltramos@ucundinamarca.edu.co">ltramos@ucundinamarca.edu.co</a><br />
    <strong>Programación:</strong> <a href="mailto:jnnieto@ucundinamarca.edu.co">jnnieto@ucundinamarca.edu.co</a><br />
</address>