@{
    ViewBag.Title = "Pagina Inicial";
}
<style>
    .titulo {
        text-align: center;
        font: bold 60px Liquid Amber DEMO;
        color: #707070;
    }
    .jumbotron {
        border-style: solid;
        border-color: #707070;
        background-color: snow;
        position: absolute;
        top: 25%;
        right: 10%;
        left: 10%;
    }
    .btn btn-default btn-lg {
        background-color: #B9BDF3,;
        vertical-align: middle;
</style>
<br>
<div class="jumbotron">
    <h2 class="titulo">S A P P H I R O</h2>
    <table>
        <tr>
            <td>
                <p class="lead">Lorem ipsum dolor sit amet, consecteur adipiscing elit. Nullam consequat, lectus et eleifend tristique, maruris augue sagittis libero, vel, vehicula nisi leo ullamcoper eros.</p>
                <p><a href="http://localhost:54640/Home/Contact" class="btn btn-default btn-lg">CONTACTANOS.</a></p>
            </td>
            <td>
                <img src="~/Imagenes/LOGO-SAPPHIRO.png" height=400px />
            </td>
        </tr>
    </table>
</div>
