@{
    ViewBag.Title = "Pagina Inicial";
}
<style>
    .titulo{
        text-align:center;

    }
 
</style>
<div class="jumbotron">
    <h3 class="titulo">SAPPHIRO</h3>
    <table>
        <tr>
            <td><p class="lead">Lorem ipsum dolor sit amet, consecteur adipiscing elit. Nullam consequat, lectus et eleifend tristique, maruris augue sagittis libero, vel, vehicula nisi leo ullamcoper eros.</p></td>
            <td><img src="~/Imagenes/LOGO-SAPPHIRO.png" height= 400px/></td>
        </tr>
    </table>
    <p><a href="http://localhost:54640/Home/Contact" class="btn btn-default btn-lg">CONTACTANOS. &raquo;</a></p>



</div>
