@{
    ViewBag.Title = "Pagina Inicial";
}

<div class="jumbotron"> 
    <h1>SAPPHIRO</h1>
    <p class="lead">Aqui se va a escribir toda la informacion sobre el software contable llamado Sapphiro.</p>
    <p><a href="http://localhost:54640/Home/Contact" class="btn btn-primary btn-lg">CONTACTANOS. &raquo;</a></p>
</div>
