@{
    Layout = null;
}
<head>
    <title>LOGIN SAPPHIRO</title>
    <link rel="stylesheet" href="~/Content/login.css" type="text/css" />
</head>
<body>
    <div class="difuminado">
        <center>
            <img src="~/Imagenes/LOGO-SAPPHIRO.png" height="190px" />
            <h1 class="active">BIENVENID&#64 A SAPPHIRO</h1>
        </center>
    </div>

</body>
