@{
    Layout = null;
}
<head>
    <title>LOGIN SAPPHIRO</title>
    <link rel="stylesheet" href="~/Content/login.css" type="text/css" />
</head>
<body>
    <div>
        <div class="difuminado">
            <center>
                <img src="~/Imagenes/LOGO-SAPPHIRO.png" height="190px" />
                <h1 class="active">BIENVENIDO A SAPPHIRO</h1>
                <div class="campos_login">
                    <table class="col-lg-6">
                        <tr>
                            <td class="label">
                                <p>USUARIO:</p>
                                <p>CONTRASEÑA:</p>
                            </td>
                            <td>
                                <form action="">
                                    <br />
                                    <input type="text" class="field" /><br />
                                    <br />
                                    <br />
                                    <br />
                                    <input type="password" class="field" />
                                    <br />
                                </form>
                            </td>
                        </tr>
                    </table>
                    <a class="link" href="#">OLVIDÉ MI CONTRASEÑA</a>
                </div>
                <br />
                <br />
                <br />
                <div>
                    <button class="btn-ingresar">
                        <a class="texto-boton"href="#">INICIAR SESIÓN</a>
                    </button>
                </div>
            </center>
            <footer>
                <p><br />&copy; @DateTime.Now.Year - SAPPHIRO SOFTWARE CONTABLE</p>
            </footer>
        </div>
    </div>
    
</body>
